
/* General Styles */

.homepage {
  width: 100%;
  padding-top: 200px;
  margin-bottom: 50px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737637249/2background_qirjiq.jpg');
  background-size: 100%;
  transition: background-size 0.5s background-color 0.3s ease-out; // Transition douce pour l'opacité
  background-attachment: fixed; // Parallax léger

    .homepage-container {
      display: flex;
      width: 90%;
      max-width: 1200px;
    }

    .logo-image img {
        margin-bottom: 200px;
        margin-left: 510px;
        width: 40%;
    }
}


/* Vertical Menu */
.vertical-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Pour bouton en blanc*/
.vertical-menu a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #c0392b;
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.vertical-menu a:hover {
  background-color: #c0392b;
  color: white;
}

/* Section Nos valeurs */
.our-values-preview {
  padding: 100px 20px;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  color: white;
  background-image: linear-gradient(#000000bf, #00000000), url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737561260/AB96E667-A2E9-4A55-B530-3C499E65FAC7_1_201_a_zu6cg0.jpg');
  background-size: auto, cover;
  background-attachment: fixed;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste l'opacité du fond noir */
    z-index: 0;
  }

  .container-our-values{
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: auto;
    text-align: left;
  }

  .accent-divider-value {
    background-color: #fff;
    width: 100%;
    max-width: 80px;
    height: 3px;
    text-align: left;
  }


  .section-title {
    font-family: Inter, sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: left;
    margin-top: 39px;
  }

  .values-snippet {
    font-family: Inter, sans-serif; // Style élégant et lisible
    font-size: 1.5rem;
    line-height: 1.667em;
    color: #dadada;
    margin-bottom: 2rem;
    text-align: left;

  }

  .btn-values {
    font-size: 1.2rem;
    font-family: Inter,sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #c0392b;
      color: white;
    }
  }
}

/* Section Notre histoire */
.our-story-preview {
  padding: 100px 20px;
  margin-bottom: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
  background-image: linear-gradient(#000000bf, #00000000), url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737637085/background_accueil_1_u5utrf.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .container-our-story{
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: auto;
    text-align: right;
  }

  .accent-divider-story {
    background-color: #fff;
    width: 100%;
    max-width: 80px;
    height: 3px;
    margin-left: auto;
    text-align: right;
}


  .section-title {
    font-family: Inter, sans-serif; // Assurez-vous d'importer cette police
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: right;
    margin-top: 39px;
  }

  .story-snippet {
    font-family: Inter, sans-serif; // Style élégant et lisible
    font-size: 1.5rem;
    line-height: 1.667em;
    color: #dadada;
    margin-bottom: 2rem;
    text-align: right;

  }

  .btn-story {
    font-size: 1.2rem;
    font-family: Inter,sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #c0392b;
      color: white;
    }
  }
}

/* Animation d'apparition depuis le bas */
.slide-up {
  opacity: 0;
  transform: translateY(40px); /* Position initiale sous l'écran */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-up.show {
  opacity: 1;
  transform: translateY(0); /* Position finale */
}

.parallax {
  position: relative;
  transform: translateY(0);
  transition: transform 0.1s linear;
}

.parallax.show {
  transform: translateY(-15x); /* Décalage subtil vers le haut */
}
