/* Mobile-specific styles */
.mobile-header {
  position: relative;
  text-align: center;
  height: 50vh;
  overflow: hidden; /* Coupe tout dépassement */
}

.mobile-header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.mobile-header__title {
  font-size: 2rem; /* Taille du texte principal */
  display: block;
}

.mobile-header__subtitle {
  font-size: 1.2rem; /* Taille du sous-titre */
  margin-top: 0.5rem; /* Espacement entre le titre et le sous-titre */
  display: block;
  font-family: 'Lato', sans-serif; /* Une police complémentaire */
}

.mobile-header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre parfaitement le texte */
  font-size: 2rem; /* Taille du texte */
  color: #fff; /* Texte blanc pour contraster avec l'image */
  font-family: Inter, sans-serif; /* Une police élégante */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la lisibilité */
}

.mobile-header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-header__logo img {
  width: 100px; /* Ajuster selon le logo */
  height: auto;
}

.mobile-addresses {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 2rem; /* Ajoute un espace sous la section */
}

.mobile-addresses__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #C0392B; /* Couleur rouge vif */
  text-align: center;
}

.mobile-addresses__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.address-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  cursor: pointer;
}

.address-item__header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.address-item__toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #C0392B;
  cursor: pointer;
}

.address-item__content {
  display: none;
  padding: 10px;
  background-color: #fff;
  font-size: 0.9rem;
}

/* Show content when active */
.address-item.active .address-item__content {
  display: block;
}

.address-item__link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #C0392B; /* Rouge vif */
  text-decoration: none;
  margin-top: 10px;

  i {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: underline;
  }
}
