/* General Styles */

.homepage {
  width: 100%;
  padding-top: 200px;
  margin-bottom: 100px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #FFFFFF;
}

.homepage-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
}

/* Vertical Menu */
.vertical-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
}

/* Pour bouton en blanc*/
.vertical-menu a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.vertical-menu a:hover {
  background-color: #c0392b;
  color: white;
}

/* Hero Image */
.hero-image {
  flex: 2;
  display: flex;
  justify-content: right;
  align-items: center;
}

.hero-image img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}


.our-story-preview {
  background-color: #ffffff; // Couleur claire (par exemple beige clair)
  padding: 25rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;

  .accent-divider {
    background-color: #C0392B;
    width: 100%;
    max-width: 80px;
    height: 3px;
    z-index: 1000;
}

  .container-our-story{
    max-width: 400px;
    text-align: left;
  }

  .section-title {
    font-family: 'Dancing Script', cursive; // Assurez-vous d'importer cette police
    font-size: 2.5rem;
    color: #C0392B; // Couleur foncée (par exemple brun)
    margin-bottom: 1rem;
    text-align: left;
    margin-top: 39px;
  }

  .story-snippet {
    font-family: 'Lora', serif; // Style élégant et lisible
    font-size: 1.2rem;
    line-height: 1.667em;
    color: #5a5a5a; // Gris neutre pour le texte
    margin-bottom: 2rem;
    text-align: left;

  }

  .btn-story {
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #c0392b;
      color: white;
    }
  }

  .about-image {
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    display: inline-block;

    img {
      position: relative; /* L'image est au-dessus du pseudo-élément */
      z-index: 1;
      border-radius: 30px; /* Coins arrondis pour l'image */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionnel */
      max-width: 65%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -8%; /* Ajuste selon le positionnement désiré */
      left: 12%;
      width: 64%; /* Ajuste la taille par rapport à l'image */
      height: 100%; /* Idem */
      background-color: #C0392B; /* Couleur de la forme */
      border-radius: 30px; /* Coins arrondis pour la forme */
      z-index: 0; /* Place la forme derrière l'image */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optionnel pour un effet de relief */
    }
  }
}

/* Section Nos valeurs */
.our-values-preview {
  background-color: #ffffff; // Couleur claire (par exemple beige clair)
  padding: 25rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;

  .accent-divider {
    background-color: #C0392B;
    width: 100%;
    max-width: 80px;
    height: 3px;
    z-index: 1000;
}

  .container-our-values{
    max-width: 400px;
    text-align: left;
  }

  .section-title {
    font-family: 'Dancing Script', cursive; // Assurez-vous d'importer cette police
    font-size: 2.5rem;
    color: #C0392B; // Couleur foncée (par exemple brun)
    margin-bottom: 1rem;
    text-align: left;
    margin-top: 39px;
  }

  .values-snippet {
    font-family: 'Lora', serif; // Style élégant et lisible
    font-size: 1.2rem;
    line-height: 1.667em;
    color: #5a5a5a; // Gris neutre pour le texte
    margin-bottom: 2rem;
    text-align: left;

  }

  .btn-values {
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #c0392b;
      color: white;
    }
  }

  .values-image {
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    display: inline-block;

    img {
      position: relative; /* L'image est au-dessus du pseudo-élément */
      z-index: 1;
      border-radius: 30px; /* Coins arrondis pour l'image */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionnel */
      max-width: 65%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -8%; /* Ajuste selon le positionnement désiré */
      left: 12%;
      width: 64%; /* Ajuste la taille par rapport à l'image */
      height: 100%; /* Idem */
      background-color: #C0392B; /* Couleur de la forme */
      border-radius: 30px; /* Coins arrondis pour la forme */
      z-index: 0; /* Place la forme derrière l'image */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optionnel pour un effet de relief */
    }
  }
}
