/* Section des menus */
.menu-section {
  padding: 20px;
  max-width: 1550px;
  margin: 0 auto;
  background: #EAE3D1;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Ajout d'espacement entre les sections */
}

.menu-header h1 {
  font-size: 2.8rem;
  text-align: center;
  color: #c0392b;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.menu-header p {
  text-align: center;
  font-style: italic;
  color: #555;
}

/* Catégories de menus */
.menu-category {
  margin-bottom: 30px;
  padding: 20px;
  background: #EAE3D1;

  img{
    width: 60%;
    margin-top: 100px;
    margin-left: 50px;
  }
}

/* Titre de catégorie avec icône */
.menu-category h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #EAE3D1;
  background-color: #333;
  padding-bottom: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacement entre l'icône et le texte */
}

/* Liste des éléments */
.menu-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-category ul li {
  font-size: 1.2rem;
  padding: 10px 0;
}

.menu-category ul li:last-child {
  border-bottom: none;
}

/* Texte des descriptions sous les items */
.menu-category ul li span {
  display: block;
  font-size: 0.9rem; /* Texte plus petit */
  color: #777; /* Couleur plus claire */
  margin-top: 5px;
  font-style: italic;
}

/* Note en italique */
.note {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
  font-style: italic;
  border-top: 1px dashed #333; /* Ligne en pointillés */
  padding-top: 10px; /* Espacement avec la ligne */
  margin-top: 10px; /* Espacement avec l'élément suivant */
}

.dotted-line{
  border-bottom: 1px dashed #333; /* Ligne en pointillés */
  padding-bottom: 10px; /* Espacement avec la ligne */
  margin-bottom: 10px; /* Espacement avec l'élément suivant */
}

/* Responsive : Catégories côte à côte sur grands écrans */
@media (min-width: 768px) {
  .menu-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .menu-category {
    flex: 1;
    min-width: 300px;
    max-width: 45%;
  }
}
