<footer class="mobile-footer">
  <div class="mobile-footer__info">
    <h4>Dipiaza</h4>
    <p>Le bar à café et sandwicherie qui vous accompagne chaque jour avec passion.</p>
  </div>

  <div class="mobile-footer__contact">
    <h4>Contact</h4>
    <ul>
      <li><a href="mailto:contact@dipiaza.com">contact@dipiaza.com</a></li>
      <li><a href="tel:+41234567890">+41 23 456 78 90</a></li>
    </ul>
  </div>

  <div class="mobile-footer__socials">
    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="mobile-footer__bottom">
    <p>&copy; 2025 Dipiaza</p>
  </div>
</footer>
