<nav class="navbar <%= 'always-visible' if current_page?(nos_restaurants_path) || current_page?(nous_rejoindre_path)%>" data-controller="navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag("logo_rouge.jpg", alt: "Dipiaza", class: "logo") %>
    <% end %>
  </div>

    <!-- Icône Hamburger pour mobile -->
  <div class="navbar-toggle" data-action="click->navbar#toggleMenu">
    ☰
  </div>

  <ul class="navbar-links center-links">
    <a href="/menus/menu-dipiaza.pdf" target="_blank">Menu</a>
    <li><a href="/nos_restaurants">Nous trouver</a></li>
    <li><a href="/nous_rejoindre">Nous rejoindre</a></li>
  </ul>
</nav>
