<nav class="mobile-navbar" data-controller="navbar">
  <div class="mobile-navbar__logo">
    <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737720204/logo_rouge_zhccmo.jpg" alt="Dipiaza Logo">
  </div>
  <button class="mobile-navbar__toggle" data-action="click->navbar#toggleMenu" data-navbar-target="toggleButton">
    <span>-</span>
    <span>-</span>
    <span>-</span>
  </button>
  <div class="mobile-navbar__menu hidden" data-navbar-target="menu">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/notre-histoire">Notre Histoire</a></li>
      <li><a href="/nos-engagements">Nos Engagements</a></li>
      <li><a href="/nos-restaurants">Nos Restaurants</a></li>
      <li><a href="/nous-rejoindre">Nous Rejoindre</a></li>
    </ul>
  </div>
</nav>
