<nav class="navbar">
  <div class="navbar-logo">
    <%= image_tag("logo_rouge.jpg", alt: "Dipiaza", class: "logo") %>
  </div>
  <ul class="navbar-links center-links">
    <li><%= link_to "Nous trouver", nos_restaurants_path %></li>
    <li><%= link_to "Nous rejoindre", nous_rejoindre_path %></li>
  </ul>
</nav>
