<!-- Home Page HTML -->
<div class="homepage">
  <div class="homepage-container">
    <!-- Vertical Menu Section -->
    <div class="vertical-menu">
      <a href="#menu">Menu</a>
      <a href="#about">Notre histoire</a>
      <a href="#commitments">Nos engagements</a>
    </div>

    <!-- Hero Image Section -->
    <div class="background-overlay"></div>
    <div class="hero-image">
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737532297/4F778D0C-CAB6-4570-920A-861D9E21F4D1_oidvkc.jpg" alt="Delicious food at Dipiaza">
    </div>
  </div>
</div>

<section id="menu" class="menu-section">
  <div class="menu-header">

    <h1 class="logo-menu">Menu Dipiaza</h1>

    <p><em>Également à emporter</em></p>
  </div>

  <div class="menu-content">
    <!-- Section Pizzas -->
    <div class="menu-category">

      <h2>Pizzas</h2>

      <ul>
        <li>Pizza margherita</li>
        <li>Pizza jambon</li>
        <li>Pizza salami</li>
        <li>Pizza jambon cru</li>
        <li>Pizza saumon</li>
        <li>Pizza thon</li>
        <li>Pizza crevettes</li>
        <li>Pizza chorizo</li>
        <li>Pizza chèvre chaud</li>
      </ul>
      <p class="note">Ingrédient supplémentaire disponible</p>
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737555102/pepper_wnfxkz.png" alt="">
    </div>

    <!-- Section Salades -->
    <div class="menu-category">

      <h2>Salades</h2>

      <ul>
        <li>Salade verte</li>
        <li class="dotted-line">Salade de tomates</li>
        <li class="dotted-line">Salade mêlée
          <span>salade verte, concombre, oignons, maïs, radis, olives, poivrons</span>
        </li>
        <li>
          Salade tomates - mozzarella Buffala <br>
          <span>salade verte, tomates, mozzarella Buffala, basilic, huile d'olive</span>
        </li>
        <li>
          Salade paysanne <br>
          <span>salade verte, viande séchée, fromage</span>
        </li>
        <li>
          Salade exotique <br>
          <span>salade verte, poulet, curry, ananas</span>
        </li>
        <li>
          Salade nordique <br>
          <span>salade verte, saumon, oignons, câpres, jus de citron</span>
        </li>
        <li>
          Salade cocktail de crevettes <br>
          <span>salade verte, farce aux crevettes</span>
        </li>
        <li>
          Salade niçoise <br>
          <span>salade verte, thon, tomates, maïs, oignons</span>
        </li>
        <li>
          Salade mexicaine <br>
          <span>salade verte, poulet, poivrons, sauce mexicaine</span>
        </li>
        <li>
          Salade du pêcheur <br>
          <span>salade verte, crevettes, thon, saumon, oignons, citron</span>
        </li>
        <li class="dotted-line">
          Salade Dipiaza <br>
          <span>roastbeef, poulet, salade verte, tomates, mozzarella</span>
        </li>
        <li class="dotted-line">Petite salade</li>
        <li>
          Assiette froide <br>
          <span>jambon, viande séchée, jambon cru, salami, gruyère, petits oignons, cornichons</span>
        </li>
      </ul>
    </div>


    <!-- Section Sandwiches -->

    <div class="menu-category">

      <h2>Sandwiches</h2>

      <ul>
        <li>Jambon</li>
        <li>Fromage</li>
        <li>Salami</li>
        <li>Thon</li>
        <li>Tomates-mozzarella</li>
        <li>Chèvre chaud</li>
        <li>Viande séchée</li>
        <li>Poulet curry</li>
        <li>Poulet provençal</li>
        <li>Poulet cocktail</li>
        <li>Poulet mexicain</li>
      </ul>

      <p class="note">Baguette multicéréales et ingrédient double disponibles</p>

    </div>
        <!-- Section Paninis -->
    <div class="menu-category">

      <h2>Paninis</h2>

      <ul>
        <li>Panini tomate - mozzarella</li>
        <li>Panini tomate - mozzarella - jambon</li>
        <li>Panini tomate - mozzarella - jambon cru</li>
        <li>Panini poulet, sauce mexicaine</li>
        <li>Panini poulet, sauce curry</li>
        <li>Panini saumon (saumon froid)</li>
        <li>Panini chèvre chaud</li>
      </ul>

      <p class="note">Sur demande, nos collaborateurs vous donneront volontiers des informations sur les mets qui peuvent déclencher des allergies ou des intolérances.</p>

    </div>

  </div>
</section>

<section class="menu-section">
  <div class="menu-header">

    <h1 class="logo-menu">Boissons</h1>

  </div>
  <div class="menu-content">
    <!-- Section Jus de Fruits -->
    <div class="menu-category">

      <h2>Jus de Fruits</h2>

      <ul>
        <li>Orange / Pêche / Ananas / Abricot / Multivitamines / Nectar Poire</li>
        <li>Jus d'oranges pressées - 20 cl</li>
      </ul>

      <h2 class="boisson-header">Boissons Froides</h2>

      <ul>
        <li>Arkina blau <br><span>35 cl</span></li>
        <li>Schweppes <br><span>20 cl</span></li>
        <li>Sanpellegrino bitter <br><span>10 cl</span></li>
        <li>Coca-Cola Zero</li>
        <li>Sinalco</li>
        <li>Jus de pomme <br><span>33 cl</span></li>
        <li>Red Bull <br><span>25 cl</span></li>
        <li>Coca-Cola, Ice Tea Citron, Ice Tea Pêche, Rhäzünser Classic, Rivella Rouge, Grapefruit <br>
            <span>Au verre - 2 dl / 3 dl / 5 dl</span>
        </li>
      </ul>
    </div>

    <!-- Section Boissons Chaudes -->
    <div class="menu-category">

      <h2>Boissons Chaudes</h2>

      <ul>
        <li>Café / Espresso / Ristretto / Décaféiné</li>
        <li>Renversé</li>
        <li>Espresso Macchiato</li>
        <li>Café aromatisé</li>
        <li>Café viennois</li>
        <li>Double Espresso</li>
        <li>Frappe Cappuccino</li>
        <li>Cappuccino freddo</li>
        <li>Café mezzo-mezzo</li>
        <li>Irish Coffee</li>
        <li>Thé noir / vert</li>
        <li>Tilleul / Cynorhodon / Camomille / Menthe / Verveine / Fruits</li>
        <li>Ovo ou chocolat chaud</li>
        <li>Ovo ou chocolat froid</li>
        <li>Chocolat Viennois</li>
        <li>Chocolat Italien</li>
        <li>Lait chaud ou froid</li>
      </ul>
    </div>

    <!-- Section Bières -->
    <div class="menu-category">

      <h2>Bières</h2>

      <ul>
        <li>Bière Cardinal (pression - 2.5 dl / 5 dl)</li>
        <li>Schneiderweisse (bouteille - 3.3 dl)</li>
        <li>Bière sans alcool</li>
      </ul>
    </div>

    <!-- Section Apéritifs -->
    <div class="menu-category">

      <h2>Apéritifs</h2>

      <ul>
        <li>Martini blanc et rouge</li>
        <li>Cynar</li>
        <li>Campari</li>
        <li>Suze</li>
        <li>Ricard / Pastis - 2 cl</li>
        <li>Ricard (double) - 4 cl</li>
        <li>Abricotine / Williamine</li>
        <li>Pomme - 2 cl</li>
        <li>Grappa - 2 cl</li>
        <li>Amaretto - 2 cl</li>
        <li>Gin / Whisky JB / Cognac - 2 cl</li>
      </ul>
    </div>
  </div>
</section>

<section id="about" class="our-story-preview">
  <div class="about-image">
    <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737561260/AB96E667-A2E9-4A55-B530-3C499E65FAC7_1_201_a_zu6cg0.jpg" alt="Delicious food at Dipiaza">
  </div>
  <div class="container-our-story">
    <div class="accent-divider"></div>
    <h2 class="section-title">Notre Histoire</h2>
    <p class="story-snippet">
      Depuis notre tout premier café à Bulle, Dipiaza a été bien plus qu’un simple bar à café. C’est une histoire de passion, d’authenticité et de rencontres, inspirée par l’art de vivre italien.
    </p>
    <a href="/notre_histoire" class="btn-story">Découvrir notre histoire</a>
  </div>
</section>

<section id="commitments" class="commitments-preview">
  <div class="container">
    <h2 class="section-title">Nos Engagements</h2>
    <p class="commitments-snippet">
      Chez Dipiaza, nous nous engageons à offrir des produits de qualité, issus de sources durables, tout en créant un environnement chaleureux et respectueux pour nos clients et nos collaborateurs.
    </p>
    <a href="/nos_engagements" class="btn-commitments">Découvrir nos engagements</a>
  </div>
</section>
