
<!-- Home Page HTML -->
<div class="homepage">
  <div class="homepage-container">
    <!-- Vertical Menu Section -->
    <div class="vertical-menu">
      <a href="#menu">Menu</a>
      <a href="#about">Notre histoire</a>
      <a href="#commitments">Nos engagements</a>
    </div>

    <!-- Hero Image Section -->
    <div class="hero-image">
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737107646/crunch-B6LH0dOpplQ-unsplash_hhkig4.jpg" alt="Delicious food at Dipiaza">
    </div>
  </div>
</div>
