<div class="mobile-nos-valeurs">
  <!-- Section 1 -->
  <div class="mobile-content">
    <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737538768/october26_wkfm5h.jpg" alt="Respect et excellence chez Dipiaza" class="mobile-icon">
    <h2 class="mobile-title">Le Respect et l'Excellence au Cœur de Nos Actions</h2>
    <p class="mobile-description">
      Chez Dipiaza, nos valeurs reposent sur le respect, l'excellence et le bien-être. Nous croyons fermement que la clé du succès réside dans la qualité
      des produits et l’engagement de notre équipe. Nous plaçons l'humain au centre de notre démarche, car un personnel motivé et épanoui se traduit par
      un service authentique et attentionné.
    </p>
  </div>

  <!-- Image intermediaire 1 -->
  <div class="mobile-parallax" style="background-image: url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737550125/coffee_banner_1_sn2uhu.jpg');"></div>

  <!-- Section 2 -->
  <div class="mobile-content">
    <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737542901/3773_m8nwrd.jpg" alt="Produits durables chez Dipiaza" class="mobile-icon">
    <h2 class="mobile-title">Un Engagement pour un Commerce Responsable</h2>
    <p class="mobile-description">
      Nous sélectionnons les produits que nous proposons en privilégiant des fournisseurs aux mêmes valeurs et des matières premières durables.
      Notre engagement pour un commerce responsable se traduit également par notre volonté de réduire notre impact écologique, en optant pour des emballages
      recyclables et en soutenant des initiatives de consommation éthique.
    </p>
  </div>

  <!-- Image intermediaire 2 -->
  <div class="mobile-parallax" style="background-image: url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737550169/old-furniture-black-white_xguogq.jpg');"></div>

  <!-- Section 3 -->
  <div class="mobile-content">
    <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737549050/chaleureux_eczvrr.jpg" alt="Relation de confiance chez Dipiaza" class="mobile-icon">
    <h2 class="mobile-title">Une Relation de Confiance avec Nos Clients</h2>
    <p class="mobile-description">
      Nous avons à cœur de créer une relation de confiance avec nos clients, en leur offrant des produits de qualité, mais aussi en les écoutant et en
      répondant à leurs besoins de manière personnalisée. Chez Dipiaza, nous sommes convaincus que le bien-être de nos collaborateurs et la qualité de nos
      produits sont essentiels pour offrir à nos clients une expérience enrichissante et satisfaisante, à chaque visite.
    </p>
  </div>

  <!-- Section de fin -->
  <div class="mobile-join-us">
    <h2 class="mobile-join-title">Envie de Découvrir Plus ?</h2>
    <a href="/nous_rejoindre" class="mobile-btn-join">Rejoignez-nous</a>
  </div>
</div>
