<div data-controller="google-maps" class="cafes-container">
  <!-- Liste des cafés -->
  <div class="cafes-list">
    <div class="cafe" data-id="1" data-lat="46.31681173472081" data-lng="6.963752838433811">
      <h3>Dipiaza Aigle</h3>
        <p>Place de la Gare 1, 1860 Aigle</p>
        <p><i class="fas fa-clock"></i> 05:30 - 20:00 (Lundi à vendredi)</p>
        <p><i class="fas fa-clock"></i> 05:30 - 19:00 (Samedi à Dimanche)</p>
        <p><i class="fas fa-phone"></i> <a href="tel:+41244665463">+41 24 466 54 63</a></p>
        <a href="#" class="directions-icon" data-lat="46.31681173472081" data-lng="6.963752838433811" title="Itinéraire">
          <i class="fas fa-directions"></i>
        </a>
    </div>
    <div class="cafe" data-id="2" data-lat="46.63312" data-lng="7.04878">
      <h3>Dipiaza Bulle</h3>
        <p>Rue de Battentin 1, 1630 Bulle</p>
        <p><i class="fas fa-clock"></i> 05:30 - 20:00 (Lundi à vendredi)</p>
        <p><i class="fas fa-clock"></i> 05:30 - 19:00 (Samedi à Dimanche)</p>
        <p><i class="fas fa-phone"></i> <a href="tel:+41269126210">+41 26 912 62 10</a></p>
        <a href="#" class="directions-icon" data-lat="46.63312" data-lng="7.04878" title="Itinéraire">
          <i class="fas fa-directions"></i>
        </a>
    </div>
    <div class="cafe" data-id="3" data-lat="46.29622" data-lng="7.55031">
      <h3>Dipiaza Sierre</h3>
        <p>Rte de la Gemmi 20, 3960 Sierre</p>
        <p><i class="fas fa-clock"></i> 05:30 - 20:00 (Lundi à vendredi)</p>
        <p><i class="fas fa-clock"></i> 05:30 - 19:00 (Samedi à Dimanche)</p>
        <p><i class="fas fa-phone"></i> <a href="tel:+41275655690">+41 27 565 56 90</a></p>
        <a href="#" class="directions-icon" data-lat="46.29622" data-lng="7.55031" title="Itinéraire">
          <i class="fas fa-directions"></i>
        </a>
    </div>
    <div class="cafe" data-id="4" data-lat="46.78135" data-lng="6.64049">
        <h3>Dipiaza Yverdon</h3>
        <p>Place de la Gare, 1400 Yverdon-les-Bains</p>
        <p><i class="fas fa-clock"></i> 05:30 - 20:00 (Lundi à vendredi)</p>
        <p><i class="fas fa-clock"></i> 05:30 - 19:00 (Samedi à Dimanche)</p>
        <p><i class="fas fa-phone"></i> <a href="tel:+41244259332">+41 24 425 93 32</a></p>
        <a href="#" class="directions-icon" data-lat="46.78135" data-lng="6.64049" title="Itinéraire">
          <i class="fas fa-directions"></i>
        </a>
    </div>
    <div class="cafe" data-id="5" data-lat="46.30336" data-lng="7.65665">
        <h3>Dipiaza la Souste</h3>
        <p>Kantonsstrasse 99, 3952 La Souste</p>
        <p><i class="fas fa-clock"></i> 05:30 - 20:00 (Lundi à vendredi)</p>
        <p><i class="fas fa-clock"></i> 05:30 - 19:00 (Samedi à Dimanche)</p>
        <p><i class="fas fa-phone"></i> <a href="tel:+41274746134">+41 27 474 61 34</a></p>
        <a href="#" class="directions-icon" data-lat="46.30336" data-lng="7.65665" title="Itinéraire">
          <i class="fas fa-directions"></i>
        </a>
    </div>
  </div>

  <!-- Carte Google Maps -->
  <div id="map" ></div>
</div>
