<p>
Notre Histoire
Patrick & Benoît ont ouvert en 1995 une première sandwicherie dans la gare de Bulle. Rapidement ils y ont ajouté une offre de café et autres spécialités. S’en suit plusieurs ouvertures dans des gares, centres commerciaux et stations-service sous des enseignes diverses. En 2005 le réseau de points de vente est rénové et la marque DIPIAZA voit le jour. Aujourd’hui, les 5 points de vente existants proposent une offre qualitative sur un segment de consommation rapide et convivial.

</p>
