<div class="parallax-our-story" style="background-image: url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737629999/IMG_3432_vc9qkr.jpg');">
  <div class="parallax-overlay-our-story">
    <h1 class="parallax-title-our-story">Notre histoire</h1>
    <p class="parallax-subtitle-our-story">Une aventure depuis 1995</p>
  </div>
</div>

<div class="container mt-5 pt-5">
  <h2 class="text-center mb-4" style="color: #C0392B;">Depuis 1995, une passion devenue une aventure</h2>

  <div class="timeline">
    <div class="timeline-item" data-aos="fade-right">
      <h3 class="timeline-date" style="color: #C0392B;">1995</h3>
      <p>Patrick & Benoît ouvrent une sandwicherie dans la gare de Bulle.</p>
    </div>
    <div class="timeline-item" data-aos="fade-left">
      <h3 class="timeline-date" style="color: #C0392B;">2005</h3>
      <p>La marque DIPIAZA voit le jour après la rénovation du réseau.</p>
    </div>
    <div class="timeline-item" data-aos="fade-right">
      <h3 class="timeline-date" style="color: #C0392B;">Aujourd'hui</h3>
      <p>Les 5 points de vente proposent une consommation rapide et conviviale.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-6" data-aos="zoom-in">
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737550125/coffee_banner_1_sn2uhu.jpg" alt="Première sandwicherie à Bulle" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6" data-aos="fade-up">
      <p style="color: #555;">Patrick et Benoît ont ouvert en 1995 une première sandwicherie dans la gare de Bulle. Rapidement, ils y ont ajouté une offre de café et autres spécialités. S’en suit plusieurs ouvertures dans des gares, centres commerciaux et stations-service sous des enseignes diverses. En 2005, le réseau de points de vente est rénové et la marque DIPIAZA voit le jour. Aujourd’hui, les 5 points de vente existants proposent une offre qualitative sur un segment de consommation rapide et convivial.</p>
    </div>
  </div>

  <div class="text-center" data-aos="fade-up">
    <a href="/nos_restaurants" class="btn btn-primary">Découvrir nos restaurants</a>
  </div>
</div>
