<div class="notre-histoire">
  <!-- Section 1 -->
  <div class="content-container">
    <div class="icon-section">
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737538768/october26_wkfm5h.jpg" alt="Delicious food at Dipiaza">
    </div>
    <div class="text-section">
      <h2 class="title">Des moments gourmands autour d’un café</h2>
      <p class="description">
        Chez <span class="highlight">Dipiaza</span>, chaque tasse de café raconte une histoire.
        C’est ici que les arômes intenses rencontrent des recettes uniques, le tout dans une ambiance inspirée par les traditions italiennes.
        Nos cafés, accompagnés de sandwichs artisanaux, sont préparés avec amour pour éveiller vos sens.
      </p>
    </div>
  </div>

  <!-- Image intermediaire 1 -->
  <div class="parallax-image" style="background-image: url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737550125/coffee_banner_1_sn2uhu.jpg');"></div>

  <!-- Section 2 -->
  <div class="content-container">
    <div class="icon-section">
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737542901/3773_m8nwrd.jpg" alt="Delicious sandwich at Dipiaza">
    </div>
    <div class="text-section">
      <h2 class="title">Une tradition de saveurs</h2>
      <p class="description">
        Nos sandwichs artisanaux sont préparés chaque jour avec des ingrédients frais et sélectionnés avec soin. Inspirés par les saveurs de l’Italie, ils offrent une expérience culinaire unique pour vos pauses gourmandes.
      </p>
    </div>
  </div>

  <!-- Image intermediaire 2 -->
  <div class="parallax-image" style="background-image: url('https://res.cloudinary.com/dafkgjhwt/image/upload/v1737550169/old-furniture-black-white_xguogq.jpg');"></div>

  <!-- Section 3 -->
  <div class="content-container">
    <div class="icon-section">
      <img src="https://res.cloudinary.com/dafkgjhwt/image/upload/v1737549050/chaleureux_eczvrr.jpg" alt="Cozy interior at Dipiaza">
    </div>
    <div class="text-section">
      <h2 class="title">Un lieu chaleureux</h2>
      <p class="description">
        Chez <span class="highlight">Dipiaza</span>, nous vous accueillons dans une ambiance conviviale et chaleureuse, parfaite pour partager des moments uniques en famille ou entre amis.
      </p>
    </div>
  </div>
</div>
